lib/
node_modules/
references/
runtime/
assets/images
assets/documents
# Ignore the empty index.js file in the locales repository, which is used to export all locale files as a single module. This file is intentionally left empty and should not be linted.
locales/index.js
**/__tests__
jest.config.js
config.js
configForCi.js
configVariantSpecific.js
webpack.config.js
webpack.admin.config.js
playwright-example.config.ts
playwright.config.ts
# TODO: Remove tests/common-UI-tests-helpers-template.ts from this ignore list once all lint errors in that file are resolved.
tests/common-UI-tests-helpers-template.ts 